<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Day-29 - Fancy Table</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="shortcut icon" href="images/burkycon.ico">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="/bower_components/modernizr/modernizr.js"></script>

</head>

<body ng-app="app" ng-controller="sortController">

  <div class="header">
    <h2> Etsy </h2>
    <input class="filter-box" type="text" placeholder="Filter" ng-model="filterBy">
  </div>
  <table>
    <tr class="header-row">
      <th ng-class="{ state: sBorder, abb: aBorder, link: lBorder }" ng-click="stateClick()"> Title <i ng-show="stateArrow" class="fa fa-chevron-up"> </i> <i ng-hide="stateArrow" class="fa fa-chevron-down"></i>
      </th>
      <th ng-click="abbClick()"> Faves <i ng-show="abbArrow" class="fa fa-chevron-up"> </i> <i ng-hide="abbArrow" class="fa fa-chevron-down"></i>
      </th>
      <th>Quantity </th>
      <th>Link</th>
    </tr>
    <tr ng-repeat='state in changeArray'>
      <td> {{ state.name }} </td>
      <td> {{ state.abbreviation }} </td>
      <td> <a ng-href="https://en.wikipedia.org/wiki/{{ state.name }}"> {{state.name}}</a> </td>
    </tr>
  </table>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/lodash/lodash.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/controllers.js"></script>
  <script src="scripts/services.js"></script>

</body>

</html>
