@import 'reset';
html {
 background-color: #FFFFFF;

}
table {
  text-align: left;
  width: 30em;
  color: #0192B5;

}
.header {
  height: 2em;
  background-color: #F5F6F1;

}
.header-row {
  height: 1.5em;
  background-color: #FFFFFF;
  width: 30em;
}
tr {
	border: 1px solid black;
}
th {
	border: 1px solid black;
}
td {
	border:1px solid black;
}
h2 {
  float: left;
  padding-left: 1em;
  margin-top: 0.5em;
  font-weight: 900;
  color: #F45800;
}
.filter-box {
  height: 2em;
  width: 14.3em;
  margin-top: 0.2em;
  border: 1px solid #aaa;
  margin-left: 20em;
}
